<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit()"
  class="form_container"
>
  <h1 mat-dialog-title>Change Password</h1>
  <div mat-dialog-content>
    <div style="margin-top: 5px">
      <mat-form-field appearance="outline">
        <mat-label> {{"CHANGEPASSWORD.COLUMNS.CURRENT_PASSWORD"|translate}}</mat-label>
        <input type="text" matInput formControlName="currentPassword" />
        <mat-error
          *ngIf="
            changePasswordForm.get('currentPassword')?.touched &&
            changePasswordForm.get('currentPassword')?.hasError('required')
          "
          >{{"CHANGEPASSWORD.CURRENT_PASSWORD_REQUIRED" | translate}}</mat-error
        >
        <mat-error
          *ngIf="
            changePasswordForm
              .get('currentPassword')
              ?.hasError('passwordMatch') &&
            changePasswordForm.get('currentPassword')?.touched
          "
        >
         {{"CHANGEPASSWORD.PASS_DOES_MATCH"|translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{"CHANGEPASSWORD.COLUMNS.NEW_PASS"|translate}}</mat-label>
        <input type="text" matInput formControlName="newPassword" />
        <mat-error
          *ngIf="
            changePasswordForm.get('newPassword')?.touched &&
            changePasswordForm.get('newPassword')?.hasError('required')
          "
          >{{"CHANGEPASSWORD.NEW_PASS_REQ"|translate}}</mat-error
        >
        <mat-error
          *ngIf="
            changePasswordForm.get('newPassword')?.touched &&
            changePasswordForm.get('newPassword')?.hasError('pattern')
          "
          >{{"CHANGEPASSWORD.PASS_VALIDATION"|translate}}</mat-error
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{"CHANGEPASSWORD.COLUMNS.CONFIRM_PASS"|translate}}</mat-label>
        <input type="text" matInput formControlName="confirmPassword" />
        <mat-error
          *ngIf="
            changePasswordForm.get('confirmPassword')?.touched &&
            changePasswordForm.get('confirmPassword')?.hasError('required')
          "
          >{{"CHANGEPASSWORD.CONFIRM_PASS_REQ"|translate}}</mat-error
        >
        <mat-error
          *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['confirmPassMatch'] && changePasswordForm.controls['confirmPassword'].touched"
          >{{"CHANGEPASSWORD.CONFIRM_MATCH_WITH_NEWPASS"|translate}}</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions style="float: right">
    <button mat-raised-button color="warn" type="button" mat-dialog-close>
      Close
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="changePasswordForm.invalid"
    >
      submit
    </button>
  </div>
</form>
