<div class="container">
  <h2>{{"ITEMS_CARD.TITLE"|translate}}</h2>
  <div class="content">
    <div class="details-item">
      <span class="data">{{"ITEMS_CARD.SKU"|translate}}</span>: {{ data?.Sku }}
    </div>
    <div class="details-item">
      <span class="data">{{"ITEMS_CARD.NAME"|translate}}</span>: {{ data?.Name }}
    </div>
    <div class="details-item">
      <span class="data">{{"ITEMS_CARD.DISPLAY_NAME"|translate}}</span>: {{ data?.DisplayName }}
    </div>
    <div class="details-item">
      <span class="data">{{"ITEMS_CARD.SELLING_PRICE"|translate}}</span>: {{ data?.SellingPrice }}
    </div>
    <div class="details-item">
      <span class="data">{{"ITEMS_CARD.BASEPRICE"|translate}}</span>: {{ data?.BasePrice }}
    </div>
    <div class="details-item">
      <span class="data">{{'ITEMS_CARD.DESCRIPTION'|translate}}</span>: {{ data?.Description }}
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    routerLink="/main/dashboard/items"
    style="float: right"
  >
    Back
  </button>
</div>
