.mainBody{
  padding-top: 20px;
  max-width: 1248px;
  margin: 0 auto;
 
}
mat-form-field{
  width: 100%;
}
.button_container {
  position: fixed;
  bottom: 70px; 
  right: 48px;
}
.error{
  text-align: center;
}
.translate{
  padding: 10px;
  width: 100px;
  height: 36px;
  margin-left: 3px;
}
tr:hover{
  background-color: #e0e0e0;
  color: #333;
}

