// .error{
//     color: red;
//     font-family: 'Times New Roman', Times, serif;
// }
.dialog_container{
    border-radius: 10px;
}
.row{
    display: flex;
    gap: 10px;
   mat-form-field{
     width: 100%;
   }
}
.content{
    padding-top: 10px;
}
.actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 4px;
    gap: 5px;
} 
.mdc-dialog__title {
  display: flex;
  padding: 20px;
}
mat-icon:hover{
  background-color: #e0e0e0;
  color: #333;
}
// mat-form-field.ng-invalid.ng-touched {
//     animation: example;
//     animation-duration: 0.2s;
//     margin-bottom: 15px;
//   }
  
//   @keyframes example {
//     from {margin-bottom: 0;}
//     to {margin-bottom: 20px;}
//   }
mat-form-field.ng-invalid.ng-touched {
    animation: bigger;
    animation-duration: 0.3s;
    margin-bottom: 17px;
  }
  
  @keyframes bigger {
    from {margin-bottom: 0;}
    to {margin-bottom: 17px;}
  }
  
  mat-form-field.ng-valid.ng-touched {
    animation: smaller;
    animation-duration: 0.3s;
    margin-bottom: 0px;
  }
  
  @keyframes smaller {
    from {margin-bottom: 17px;}
    to {margin-bottom: 0;}
  }