<form [formGroup]="userForm" class="dialog_container" (ngSubmit)="onSubmit()">
    <div mat-dialog-title>
         <h2>{{"USER_FORM.TITILE"|translate}}</h2>
         <span style="flex: 1 1 auto;"></span>
         <mat-icon (click)="dialogClose()">cancel</mat-icon>
    </div>
    <div mat-dialog-content class="content">
      <div class="row">
        <div>
         <mat-form-field appearance="outline">
             <mat-label>{{"USER_FORM.NAME"|translate}}</mat-label>
             <input matInput placeholder="Enter name" formControlName="Name">
             <mat-error *ngIf="userForm.controls['Name'].touched && userForm.controls['Name'].errors?.['required']">{{"USER.NAME_REQUIRED"|translate}}</mat-error>
             <mat-error *ngIf=" userForm.controls['Name'].errors?.['noSpaces'] && userForm.controls['Name'].touched">
              {{"USER.WHITE_SPACE_VALIDATION"|translate}}
            </mat-error>
            <mat-error  class="error-message" *ngIf=" userForm.controls['Name'].errors?.['noNumbers'] && ! userForm.controls['Name'].errors?.['noSpaces']">
              {{'USER.NUMBERS_VALIDATION'| translate}}
            </mat-error>
            <mat-error  class="error-message" *ngIf=" userForm.controls['Name'].errors?.['noSpecial'] && !userForm.controls['Name'].errors?.['noSpaces'] && !userForm.controls['Name'].errors?.['noNumbers']">
              {{"USER.SPECIAL_CH_VALIDATION"| translate}}
            </mat-error>
         </mat-form-field>
        </div>
        <div>
         <mat-form-field appearance="outline">
             <mat-label>{{"USER_FORM.LASTNAME"|translate}}</mat-label>
             <input matInput  placeholder="Enter name" formControlName="LastName">
             <mat-error *ngIf="userForm.controls['LastName'].touched && userForm.controls['LastName'].errors?.['required']">Last name required</mat-error>
             <mat-error *ngIf=" userForm.controls['LastName'].errors?.['noSpaces']">
              {{"USER.WHITE_SPACE_VALIDATION"|translate}}
            </mat-error>
            <mat-error  class="error-message" *ngIf=" userForm.controls['LastName'].errors?.['noNumbers'] && !userForm.controls['LastName'].errors?.['noSpaces'] ">
              {{'USER.NUMBERS_VALIDATION'| translate}}
            </mat-error>
            <mat-error  class="error-message" *ngIf=" userForm.controls['LastName'].errors?.['noSpecial'] && !userForm.controls['LastName'].errors?.['noSpaces'] && !userForm.controls['LastName'].errors?.['noNumbers'] ">
              {{"USER.SPECIAL_CH_VALIDATION"| translate}}
            </mat-error>
         </mat-form-field>
        </div>
   </div>
   <div class="row">
        <div>
         <mat-form-field appearance="outline">
           <mat-label>{{"USER_FORM.EMAIL"|translate}}</mat-label>
           <input matInput placeholder="abc&gmail.com" formControlName="Email">
           <mat-error *ngIf="userForm.controls['Email'].touched && userForm.controls['Email'].errors?.['required']">{{"USER.EMIAL_REQUIRED"|translate}}</mat-error>
           <mat-error *ngIf="userForm.controls['Email'].touched && userForm.controls['Email'].errors?.['email']">{{"USER.INVALID_EMAIL"|translate}}</mat-error>
           <mat-error *ngIf="userForm.controls['Email'].touched && userForm.controls['Email'].errors?.['pattern'] && !userForm.controls['Email'].errors?.['email']">{{"USER.EMAIL_VALIDATION"|translate}}</mat-error>
         </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" style="width: 213px;">
            <mat-label>{{"USER_FORM.DOB"|translate}}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="DOB" [matDatepickerFilter]="dateFilter">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="userForm.get('DOB')?.touched && userForm.controls['DOB']?.hasError('required')">
              {{"USER.DOB_REQUIRED"|translate}}
            </mat-error>
          </mat-form-field>
         </div>
   </div>
   <div class="row">
     <div>
       <mat-radio-group aria-label="select option" formControlName="Gender">
         <mat-label>{{"USER_FORM.GENDER"|translate}}</mat-label>
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
          <mat-radio-button value="Others">Others</mat-radio-button>
       </mat-radio-group>
      </div>
   </div>
   <div class="row">
          <div>
            <!-- <mat-form-field appearance="outline">
              <mat-label>Education</mat-label>
              <input matInput placeholder="abc&gmail.com" formControlName="Education">
              <mat-error *ngIf="userForm.controls['Education'].touched && userForm.controls['Education'].errors?.['required']">Education required</mat-error>
            </mat-form-field>
           </div> -->
           <mat-form-field appearance="outline">
            <mat-label>{{"USER_FORM.EDUCATION"|translate}}</mat-label>
            <mat-select formControlName="Education">
              <mat-option *ngFor="let study of Education" [value]="study.value">
                {{study.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['Education'].touched && userForm.controls['Education'].hasError('required')">
              Education is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{"USER_FORM.COMPANY"|translate}}</mat-label>
            <input matInput placeholder="LogiSoft" formControlName="Company">
            <mat-error *ngIf="userForm.controls['Company'].touched && userForm.controls['Company'].errors?.['required']">Company required</mat-error>
            <mat-error *ngIf="userForm.controls['Company'].touched && userForm.controls['Company'].errors?.['noSpaces']">
              {{"USER.WHITE_SPACE_VALIDATION"|translate}}
            </mat-error>
          </mat-form-field>
        </div>
   </div>
   <div class="row" *ngFor="let number of PhoneControls.controls;let i=index">
    <div formArrayName="PhoneNumber">
      <mat-form-field appearance="outline">
        <mat-label>{{"USER_FORM.PHONE_NUMBER"|translate}}{{i+1}}</mat-label>
        <input matInput type="" placeholder="67658848754" [formControlName]="i" maxlength="10">
        <mat-error *ngIf="PhoneControls.controls[i].touched && PhoneControls.controls[i].hasError('required')">
          {{"USER.PHONE_NUMBER_REQUIRED"|translate}}
        </mat-error>
        <mat-error *ngIf="PhoneControls.controls[i].touched && PhoneControls.controls[i].hasError('pattern')">{{"USER.PHONE_NUMBER_VALIDATION"|translate}}
        </mat-error>
      </mat-form-field>
      <div>
      </div>
    </div>
    <button mat-raised-button type="button" color="warn" (click)="deleteField(i)" [disabled]="disableButton()"><mat-icon class="mat-18" disabled="">delete</mat-icon></button>
   </div>
   <div class="row"><button mat-raised-button color="warn" type="button" (click)="addNumber()">{{"USER_FORM.BUTTON.ADD_BUTTON"|translate}}</button></div>
   <div mat-dialog-actions class="actions">
     <button mat-raised-button color="primary" type="submit" [disabled]="data ? !checkDirty():!userForm.valid">{{data ? 'Update': 'Submit'}}</button>
   </div>
    </div>
  </form>
  