<form [formGroup]="ItemForm" (ngSubmit)="onSubmit()" class="dialog_container">
  <div mat-dialog-title >
    <h2>{{"ITEMS_FORM.TITLE"|translate}}</h2>
  </div>
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{"ITEMS_FORM.SKU"|translate}}</mat-label>
        <input matInput placeholder="Ex. 1" formControlName="Sku" />
        <mat-error
          *ngIf="ItemForm.controls['Sku'].touched && ItemForm.controls['Sku'].errors?.['required']"
        >
          {{ "ITEMS.SKU_REQUIRED" | translate }}
        </mat-error>
        <mat-error
          *ngIf="ItemForm.controls['Sku'].dirty && ItemForm.controls['Sku'].errors?.['noSpaces'] && !ItemForm.controls['Sku'].errors?.['required']"
        >
          {{ "ITEMS.WHITE_SPACE_VALIDATION" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{"ITEMS_FORM.NAME"|translate}}</mat-label>
        <input matInput placeholder="Ex. chicken" formControlName="Name" />
        <mat-error
          *ngIf="ItemForm.controls['Name'].touched && ItemForm.controls['Name'].errors?.['required']"
        >
          {{ "ITEMS.NAME_REQUIRED" | translate }}
        </mat-error>
        <mat-error
          *ngIf=" ItemForm.controls['Name'].errors?.['noSpaces'] && !ItemForm.controls['Name'].errors?.['required']"
        >
          {{ "ITEMS.WHITE_SPACE_VALIDATION" | translate }}
        </mat-error>
        <mat-error
          *ngIf=" ItemForm.controls['Name'].errors?.['noNumbers'] && !ItemForm.controls['Name'].errors?.['noSpaces'] "
        >
          {{ "ITEMS.NUMBERS_VALIDATION" | translate }}
        </mat-error>
        <mat-error
          *ngIf=" ItemForm.controls['Name'].errors?.['noSpecial']  && !ItemForm.controls['Name'].errors?.['noSpaces'] && !ItemForm.controls['Name'].errors?.['noNumbers'] "
        >
          {{ "ITEMS.SPECIAL_CH_VALIDATION" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{"ITEMS_FORM.DISPLAY_NAME"|translate}}</mat-label>
        <input
          matInput
          placeholder="Ex.  Lalipop"
          formControlName="DisplayName"
        />
        <mat-error
          *ngIf="ItemForm.controls['DisplayName'].touched && ItemForm.controls['DisplayName'].errors?.['required']"
        >
          {{ "ITEMS.DISPLAY_NAME_REQUIRED" | translate }}
        </mat-error>
        <mat-error
          *ngIf=" ItemForm.controls['DisplayName'].errors?.['noSpaces'] && !ItemForm.controls['DisplayName'].errors?.['required']"
        >
          {{ "ITEMS.WHITE_SPACE_VALIDATION" | translate }}
        </mat-error>
        <mat-error
          *ngIf=" ItemForm.controls['DisplayName'].errors?.['noNumbers'] && ! ItemForm.controls['DisplayName'].errors?.['noSpaces']"
        >
          {{ "ITEMS.NUMBERS_VALIDATION" | translate }}
        </mat-error>
        <mat-error
          *ngIf=" ItemForm.controls['DisplayName'].errors?.['noSpecial'] && !ItemForm.controls['DisplayName'].errors?.['noSpaces'] && !ItemForm.controls['DisplayName'].errors?.['noNumbers'] "
        >
          {{ "ITEMS.SPECIAL_CH_VALIDATION" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{"ITEMS_FORM.SELLING_PRICE"|translate}}</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex. 100"
          formControlName="SellingPrice"
        />
        <mat-error
          *ngIf="ItemForm.controls['SellingPrice'].touched && ItemForm.controls['SellingPrice'].errors?.['required']"
        >
          {{ "ITEMS.SELLING_PRICE_REQUIRED" | translate }}
        </mat-error>
        <mat-error
          *ngIf="ItemForm.controls['SellingPrice'].touched && ItemForm.controls['SellingPrice'].errors?.['max']"
        >
          {{ "ITEMS.INVALID_PRICE" | translate }}
        </mat-error>
        <mat-error
          *ngIf="ItemForm.controls['SellingPrice'].touched && ItemForm.controls['SellingPrice'].errors?.['min']"
        >
          {{ "ITEMS.PRICE_VALIDATION" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{"ITEMS_FORM.BASEPRICE"|translate}}</mat-label>
        <input
          matInput
          placeholder="Ex. 70"
          type="number"
          formControlName="BasePrice"
        />
        <mat-error
          *ngIf="ItemForm.controls['BasePrice'].touched && ItemForm.controls['BasePrice'].errors?.['required']"
        >
          {{ "ITEMS.BASE_PRICE_REQUIRED" | translate }}
        </mat-error>
        <mat-error
          *ngIf="ItemForm.controls['BasePrice'].touched && ItemForm.controls['BasePrice'].errors?.['max']"
        >
          {{ "ITEMS.INVALID_PRICE" | translate }}
        </mat-error>
        <mat-error
          *ngIf="ItemForm.controls['BasePrice'].touched && ItemForm.controls['BasePrice'].errors?.['min']"
        >
          {{ "ITEMS.PRICE_VALIDATION" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{"ITEMS_FORM.DESCRIPTION"|translate}}</mat-label>
        <input
          matInput
          placeholder="Ex. Quality is good"
          type="text"
          formControlName="Description"
        />
      </mat-form-field>
    </div>
    <!-- <div class="row" *ngFor="let number of addPNumber;let i=index">
          <div formArrayName="phoneNumbers">
            <mat-form-field appearance="outline">
              <mat-label>Phone number</mat-label>
              <input matInput type="number" placeholder="Enter PhoneNumber" [formControlName]="i.toString()" >
              <mat-error *ngIf="ItemForm.get('phoneNumbers')?.get(i.toString())?.touched && ItemForm.get('phoneNumbers')?.get(i.toString())?.hasError('required')">
                phone number is required
              </mat-error>
            </mat-form-field> 
          </div>
          <button mat-raised-button type="button" color="warn" (click)="remove(i)" [disabled]="disableCancel()" >Remove</button>
         </div>
         <button mat-raised-button type="button" color="accent" (click)="addNumber()">Add PhoneNumber</button> -->
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button color="warn" type="button"  (click)="closeDialog()">cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="data ? !checkDirty() : !ItemForm.valid"
    >
      {{ data ? "Update" : "save" }}
    </button>
  </div>
</form>
