<form [formGroup]="loginFormGroup" class="loginwrap">
  <mat-card class="mat-card">
    <h1>{{"LOGIN_LABELS.TITILE"|translate}}</h1>
    <div>
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label> {{"LOGIN_LABELS.USERNAME"|translate}} </mat-label>
        <input
          matInput
          placeholder="Enter UserName"
          formControlName="userName"
        />
        <mat-error
          *ngIf="loginFormGroup.controls['userName'].touched && loginFormGroup.controls['userName'].errors?.['required']"
          >{{ "LOGIN_VALIDATION.USERNAME_REQUIRED" | translate }}</mat-error
        >
        <mat-error
          *ngIf="loginFormGroup.controls['userName'].touched && loginFormGroup.controls['userName'].errors?.['pattern']"
          >{{ "LOGIN_VALIDATION.WHITE_SPACE_VALIDATION" | translate }}</mat-error
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label> {{"LOGIN_LABELS.PASSWORD"|translate}} </mat-label>
        <input
          matInput
          placeholder="Enter Password"
          formControlName="password"
        />
        <mat-error
          *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].errors?.['required']"
          >{{ "LOGIN_VALIDATION.PASSWORD_REQUIRED" | translate }}</mat-error
        >
        <mat-error
          *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].errors?.['pattern']"
          >{{ "LOGIN_VALIDATION.PASSWORD_VALIDATION" | translate }}</mat-error
        >
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <mat-error *ngIf="LoginError">{{ "LOGIN_VALIDATION.404Error" | translate }}</mat-error>
    <a routerLink="/signUp">signUp</a>
  </mat-card>
</form>
