<div class="container">
  <h2>{{"USER_CARD.TITILE"|translate}}</h2>
  <div class="content">
    <div class="detail-item">
      <span class="data-label">{{"USER_CARD.NAME"|translate}}</span>: {{ data?.Name }}
    </div>
    <div class="detail-item">
      <span class="data-label">{{"USER_CARD.LASTNAME"|translate}}</span>: {{ data?.LastName }}
    </div>
    <div class="detail-item">
      <span class="data-label">{{"USER_CARD.DOB"|translate}}</span>: {{ data?.DOB | date }}
    </div>
    <div class="detail-item">
      <span class="data-label">{{"USER_CARD.EMAIL"|translate}}</span>: {{ data?.Email }}
    </div>
    <div class="detail-item">
      <span class="data-label">{{"USER_CARD.GENDER"|translate}}</span>: {{ data?.Gender }}
    </div>
    <div class="detail-item">
      <span class="data-label">{{"USER_CARD.EDUCATION"|translate}}</span>: {{ data?.Education }}
    </div>
    <div class="detail-item">
      <span class="data-label">{{"USER_CARD.COMPANY"|translate}}</span>: {{ data?.Company }}
    </div>
    <div *ngFor="let user of data?.PhoneNumber; let i = index" class="detail-item">
      <span class="data-label">{{"USER_CARD.PHONE_NUMBER"|translate}} {{ i + 1 }}</span>: {{ user }}
    </div>
  </div>
  <button mat-raised-button color="primary" routerLink="/main/dashboard/users" style="float: right;">Back</button>
</div>
